﻿<div class="centered">
    <div style="text-align:left;">
        Растения высылаются с мая по сентябрь, в течение 5 дней после оплаты.
        <br>
        Доставка осуществляется почтой России, посылкой 1 класса. Оплатить заказ можно на карту СБ РФ.
        <br>
        Доставка заказов по почте осуществляется только в пределах РФ.
        <br>
        Цена договорная.
        <br>
        Минимальный заказ - 10 шт.
        <br><br>
        Все растения разведены семенами.
        <br>
        Технология их выращивания гарантирует высокое качество растений и отсутствие возбудителей болезней.
        <br>
        Подробнее: <a href="http://anubias.narod.ru/new/buc/r24/index.htm">Буцефаландры для души</a>
        <br>
        <br>
        На фотографиях показан минимальный размер реализуемых растений.
        <br>
        Представить реальный размер растения можно по диаметру горшка. В верхней части он составляет 5,5 см.
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/01.jpg" data-lightbox="shop"
           data-title='Код 1.<br>Bucephalandra sp. "Stripes" Tapah.'>
            <img src="RESOURCES/FILES/shop/bucefa/01_m.jpg"/>
        </a>
        <div>Код 1.<br>Bucephalandra sp. "Stripes" Tapah.</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/02.jpg" data-lightbox="shop"
           data-title='Код 2.<br>Bucephalandra sp. Simunjam'>
            <img src="RESOURCES/FILES/shop/bucefa/02_m.jpg"/>
        </a>
        <div>Код 2.<br>Bucephalandra sp. Simunjam</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/08.jpg" data-lightbox="shop"
           data-title='Код 8.<br>Bucephalandra sp. green wavy'>
            <img src="RESOURCES/FILES/shop/bucefa/08_m.jpg"/>
        </a>
        <div>Код 8.<br>Bucephalandra sp. green wavy</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/10.jpg" data-lightbox="shop"
           data-title='Код 10.<br>Bucephalandra sp. Tebakang'>
            <img src="RESOURCES/FILES/shop/bucefa/10_m.jpg"/>
        </a>
        <div>Код 10.<br>Bucephalandra sp. Tebakang</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/11.jpg" data-lightbox="shop"
           data-title='Код 11.<br>Bucephalandra sp. "Narrow Leaf"'>
            <img src="RESOURCES/FILES/shop/bucefa/11_m.jpg"/>
        </a>
        <div>Код 11.<br>Bucephalandra sp. "Narrow Leaf"</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/12.jpg" data-lightbox="shop"
           data-title='Код 12.<br>Bucephalandra motleyana "Semuntai 1"'>
            <img src="RESOURCES/FILES/shop/bucefa/12_m.jpg"/>
        </a>
        <div>Код 12.<br>Bucephalandra motleyana "Semuntai 1"</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/21.jpg" data-lightbox="shop"
           data-title='Код 21.<br>Bucephalandra sp. Batang Аi'>
            <img src="RESOURCES/FILES/shop/bucefa/21_m.jpg"/>
        </a>
        <div>Код 21.<br>Bucephalandra sp. Batang Аi</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/27.jpg" data-lightbox="shop"
           data-title='Код 27.<br>Bucephalandra. sp.Velvet Leaf '>
            <img src="RESOURCES/FILES/shop/bucefa/27_m.jpg"/>
        </a>
        <div>Код 27.<br>Bucephalandra. sp.Velvet Leaf </div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/31.jpg" data-lightbox="shop"
           data-title='Код 31.<br>Bucephalandra. sp.  Green Velvet Leaf 1'>
            <img src="RESOURCES/FILES/shop/bucefa/31_m.jpg"/>
        </a>
        <div>Код 31.<br>Bucephalandra. sp.  Green Velvet Leaf 1</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/35.jpg" data-lightbox="shop"
           data-title='Код 35.<br>Bucephalandra sp. Blue Gaia'>
            <img src="RESOURCES/FILES/shop/bucefa/35_m.jpg"/>
        </a>
        <div>Код 35.<br>Bucephalandra sp. Blue Gaia</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/36.jpg" data-lightbox="shop"
           data-title='Код 36.<br>Bucephalandra. sp. Palm Tree'>
            <img src="RESOURCES/FILES/shop/bucefa/36_m.jpg"/>
        </a>
        <div>Код 36.<br>Bucephalandra. sp. Palm Tree</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/37.jpg" data-lightbox="shop"
           data-title='Код 37.<br>Bucephalandra. sp. Theia 1 '>
            <img src="RESOURCES/FILES/shop/bucefa/37_m.jpg"/>
        </a>
        <div>Код 37.<br>Bucephalandra. sp. Theia 1 </div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/38.jpg" data-lightbox="shop"
           data-title='Код 38.<br>Bucephalandra. sp. Theia 4'>
            <img src="RESOURCES/FILES/shop/bucefa/38_m.jpg"/>
        </a>
        <div>Код 38.<br>Bucephalandra. sp. Theia 4</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/39.jpg" data-lightbox="shop"
           data-title='Код 39.<br>Bucephalandra. sp. Theia 10'>
            <img src="RESOURCES/FILES/shop/bucefa/39_m.jpg"/>
        </a>
        <div>Код 39.<br>Bucephalandra. sp. Theia 10</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/40.jpg" data-lightbox="shop"
           data-title='Код 40.<br>Bucephalandra. sp. Theia. 9'>
            <img src="RESOURCES/FILES/shop/bucefa/40_m.jpg"/>
        </a>
        <div>Код 40.<br>Bucephalandra. sp. Theia. 9</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/43.jpg" data-lightbox="shop"
           data-title='Код 43.<br>Bucephalandra sp. Super Blue 2, Central Kalimantan'>
            <img src="RESOURCES/FILES/shop/bucefa/43_m.jpg"/>
        </a>
        <div>Код 43.<br>Bucephalandra sp. Super Blue 2, Central Kalimantan</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/44.jpg" data-lightbox="shop"
           data-title='Код 44.<br>Bucephalandra sp. Brunei'>
            <img src="RESOURCES/FILES/shop/bucefa/44_m.jpg"/>
        </a>
        <div>Код 44.<br>Bucephalandra sp. Brunei</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/47.jpg" data-lightbox="shop"
           data-title='Код 47.<br>Bucephalandra sp. Yellow Green'>
            <img src="RESOURCES/FILES/shop/bucefa/47_m.jpg"/>
        </a>
        <div>Код 47.<br>Bucephalandra sp. Yellow Green</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/48_01.jpg" data-lightbox="shop"
           data-title='Код 48.1<br>Bucephalandra sp. Green Achilles'>
            <img src="RESOURCES/FILES/shop/bucefa/48_01_m.jpg"/>
        </a>
        <div>Код 48.1<br>Bucephalandra sp. Green Achilles</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/48_02.jpg" data-lightbox="shop"
           data-title='Код 48.2<br>Bucephalandra sp. Dark Achilles'>
            <img src="RESOURCES/FILES/shop/bucefa/48_02_m.jpg"/>
        </a>
        <div>Код 48.2<br>Bucephalandra sp. Dark Achilles</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/48_03.jpg" data-lightbox="shop"
           data-title='Код 48.3<br>Bucephalandra sp. Ovoid  leaf'>
            <img src="RESOURCES/FILES/shop/bucefa/48_03_m.jpg"/>
        </a>
        <div>Код 48.3<br>Bucephalandra sp. Ovoid  leaf</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/48_04.jpg" data-lightbox="shop"
           data-title='Код 48.4<br>Bucephalandra sp. Skeleton king aka Achiles'>
            <img src="RESOURCES/FILES/shop/bucefa/48_04_m.jpg"/>
        </a>
        <div>Код 48.4<br>Bucephalandra sp. Skeleton king aka Achiles</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/49.jpg" data-lightbox="shop"
           data-title='Код 49.<br>Furtadoa sumatrensis'>
            <img src="RESOURCES/FILES/shop/bucefa/49_m.jpg"/>
        </a>
        <div>Код 49.<br>Furtadoa sumatrensis</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/50.jpg" data-lightbox="shop"
           data-title='Код 50.<br>Bucephalandra sp. Sanggau Variegata'>
            <img src="RESOURCES/FILES/shop/bucefa/50_m.jpg"/>
        </a>
        <div>Код 50.<br>Bucephalandra sp. Sanggau Variegata</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/52.jpg" data-lightbox="shop"
           data-title='Код 52.<br>Bucephalandra sp. Nangatang Kir'>
            <img src="RESOURCES/FILES/shop/bucefa/52_m.jpg"/>
        </a>
        <div>Код 52.<br>Bucephalandra sp. Nangatang Kir</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/53.jpg" data-lightbox="shop"
           data-title='Код 53.<br>Bucephalandra sp. Cherish III'>
            <img src="RESOURCES/FILES/shop/bucefa/53_m.jpg"/>
        </a>
        <div>Код 53.<br>Bucephalandra sp. Cherish III</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/55.jpg" data-lightbox="shop"
           data-title='Код 55.<br>Bucephalandra sp. Bukit Kelam Utara Dark Green, Kalimantan'>
            <img src="RESOURCES/FILES/shop/bucefa/55_m.jpg"/>
        </a>
        <div>Код 55.<br>Bucephalandra sp. Bukit Kelam Utara Dark Green, Kalimantan</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/56.jpg" data-lightbox="shop"
           data-title='Код 56.<br>Bucephalandra sp. Shine Green, Sokan'>
            <img src="RESOURCES/FILES/shop/bucefa/56_m.jpg"/>
        </a>
        <div>Код 56.<br>Bucephalandra sp. Shine Green, Sokan</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/58.jpg" data-lightbox="shop"
           data-title='Код 58.<br>Bucephalandra sp. Metalic Grey'>
            <img src="RESOURCES/FILES/shop/bucefa/58_m.jpg"/>
        </a>
        <div>Код 58.<br>Bucephalandra sp. Metalic Grey</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/59.jpg" data-lightbox="shop"
           data-title='Код 59.<br>Bucephalandra sp. Elegant Blue'>
            <img src="RESOURCES/FILES/shop/bucefa/59_m.jpg"/>
        </a>
        <div>Код 59.<br>Bucephalandra sp. Elegant Blue</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/60.jpg" data-lightbox="shop"
           data-title='Код 60.<br>Bucephalandra sp. Mukok'>
            <img src="RESOURCES/FILES/shop/bucefa/60_m.jpg"/>
        </a>
        <div>Код 60.<br>Bucephalandra sp. Mukok</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/62.jpg" data-lightbox="shop"
           data-title='Код 62.<br>Homalomena Humilis «Red Velvet»'>
            <img src="RESOURCES/FILES/shop/bucefa/62_m.jpg"/>
        </a>
        <div>Код 62.<br>Homalomena Humilis «Red Velvet»</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/63.jpg" data-lightbox="shop"
           data-title='Код 63.<br>Schismatoglottis sp. Pikachu'>
            <img src="RESOURCES/FILES/shop/bucefa/63_m.jpg"/>
        </a>
        <div>Код 63.<br>Schismatoglottis sp. Pikachu</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/65.jpg" data-lightbox="shop"
           data-title='Код 65.<br>Bucephalandra sp. Dark Silver Grey'>
            <img src="RESOURCES/FILES/shop/bucefa/65_m.jpg"/>
        </a>
        <div>Код 65.<br>Bucephalandra sp. Dark Silver Grey</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/66.jpg" data-lightbox="shop"
           data-title='Код 66.<br>Bucephalandra sp. Dark Green Bluish'>
            <img src="RESOURCES/FILES/shop/bucefa/66_m.jpg"/>
        </a>
        <div>Код 66.<br>Bucephalandra sp. Dark Green Bluish</div>
    </div>

    <div class="shop_item">
        <a href="RESOURCES/FILES/shop/bucefa/67.jpg" data-lightbox="shop"
           data-title='Код 67.<br>Anubias afzelii'>
            <img src="RESOURCES/FILES/shop/bucefa/67_m.jpg"/>
        </a>
        <div>Код 67.<br>Anubias afzelii</div>
    </div>

</div>


